body {
    margin: 0;
    padding: 0;
}

body,
body * {
    box-sizing: border-box;
}

.taskbar {
    background: linear-gradient(0deg,
            rgba(22, 68, 170, 1) 7.999999821186066%,
            rgba(36, 92, 216, 1) 26.499998569488525%,
            rgba(36, 92, 216, 1) 40.00000059604645%,
            rgba(36, 92, 216, 1) 74.00000095367432%,
            rgba(56, 136, 233, 1) 93.00000071525574%,
            rgba(109, 178, 255, 1) 100%);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    height: 51px;
    position: relative;
}

.start-frame {
    cursor: default;
    padding: 0px 10px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 196px;
    position: relative;
    overflow: hidden;
}

.start {
    background: linear-gradient(180deg,
            rgba(39, 141, 39, 1) 0%,
            rgba(21, 215, 21, 1) 100%),
        linear-gradient(to left, #358335, #358335);
    border-radius: 0px 25px 25px 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    position: relative;
    box-shadow: inset 11px 11px 9.1px 0px rgba(83, 202, 83, 1),
        inset 2px 4px 5px 0px rgba(0, 0, 0, 0.34),
        inset -5px -5px 9px 0px rgba(0, 0, 0, 0.39),
        2px 2.5px 2px 0px rgba(43, 114, 227, 1);
    overflow: hidden;
}

.start:hover {
    background: linear-gradient(180deg,
            rgb(25, 100, 25) 0%,
            rgb(20, 156, 20) 100%),
        linear-gradient(to left, #358335, #358335);
    box-shadow: inset 11px 11px 9.1px 0px rgba(83, 202, 83, 0.596),
        inset 2px 4px 5px 0px rgba(0, 0, 0, 0.34),
        inset -5px -5px 9px 0px rgba(0, 0, 0, 0.39),
        2px 2.5px 2px 0px rgba(43, 114, 227, 1);
}

.wind-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    position: relative;
    object-fit: cover;
}

.start2 {
    color: #ffffff;
    text-align: center;
    font-family: "SegoeUi-BoldItalic", sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}

.folders {
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.taskbar-folder {
    cursor: default;
    background: linear-gradient(180deg,
            rgba(107, 160, 246, 1) 0%,
            rgba(57, 128, 244, 1) 7.912323623895645%);
    border-radius: 4px;
    border-style: solid;
    border-color: #234b9d;
    border-width: 0.5px;
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    max-width: 260px;
    position: relative;
    box-shadow: inset 1.5px 1.5px 1px 0px rgba(255, 255, 255, 0.25),
        inset 0px 4px 8px 0px rgba(255, 255, 255, 0.15),
        inset -2px -2px 2px 0px rgba(0, 0, 0, 0.1),
        2px 0px 2px 0px rgba(0, 0, 0, 0.07);
}

.folder-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 21px;
    position: relative;
    object-fit: cover;
}

.project {
    color: #ffffff;
    text-align: left;
    font-family: "SegoeUi-Regular", sans-serif;
    font-size: 19px;
    letter-spacing: -0.02em;
    font-weight: 400;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.taskbar-folder.selected {
    background: linear-gradient(91.88deg,
            rgba(0, 50, 152, 1) 0%,
            rgba(27, 85, 202, 1) 49.08725321292877%);
    border-radius: 4px;
    border-style: solid;
    border-color: #082154;
    border-width: 0.5px;
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    max-width: 260px;
    position: relative;
    box-shadow: inset -1px -1px 0px 0px rgba(14, 60, 162, 1),
        inset 1.5px 1.5px 1px 0px rgba(18, 61, 148, 1);
}

.taskbar-folder:hover {
    background: linear-gradient(180deg,
            rgba(107, 160, 246, 0.13) 0%,
            rgba(98, 144, 218, 0.089) 7.912323623895645%);
}

.taskbar-language {
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    width: 44px;
    position: relative;
}
.taskbar-language:hover{
    background-color: #ffffff3f;
}
.language {
    color: #ffffff;
    text-align: center;
    font-family: "SegoeUi-Regular", sans-serif;
    font-size: 19px;
    letter-spacing: -0.02em;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskbar-date {
    cursor:default;
    background: linear-gradient(180deg,
            rgba(13, 155, 239, 1) 0%,
            rgba(13, 155, 239, 1) 83.49999785423279%,
            rgba(4, 116, 182, 1) 100%);
    padding: 0px 35px 0px 35px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: inset -2px -4px 15px 0px rgba(0, 0, 0, 0.25),
        inset 5px 5px 5px 0px rgba(22, 172, 240, 1),
        -2px 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.taskbar-date:hover {
    background: linear-gradient(180deg,
            rgb(8, 102, 156) 0%,
            rgba(13, 155, 239, 1) 83.49999785423279%,
            rgb(5, 89, 138) 100%);
}

.net {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 27px;
    height: 27px;
    position: relative;
    object-fit: cover;
}

.task-date {
    color: #ffffff;
    text-align: center;
    font-family: "SegoeUi-Regular", sans-serif;
    font-size: 19px;
    letter-spacing: -0.02em;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}